run-name: "greenframe official GitHub-Action"
on: [push]

jobs:
  greenframe_action_workflow:
    runs-on: ubuntu-latest
    name: Run a GreenFrame CLI Action
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Start project
        run: |
          docker run --name postgres-db -e POSTGRES_PASSWORD=docker -p 5867:5867 -d postgres
          make install-app
          make start-app &
      - name: GreenFrame Analysis
        uses: marmelab/greenframe-action@1.0.0
        env:
          GREENFRAME_SECRET_TOKEN: dd9226f13ec6ee83cff9aa77620eaae914bd32fb